{% extends 'pixelpioneer/base.html' %}
{% block title %}{% if form.instance.pk %}Edit{% else %}New{% endif %} Product - Pixel Pioneer{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>{% if form.instance.pk %}Edit{% else %}New{% endif %} Product</h1>
        <form method="POST" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                {{ form.product_name.label_tag }}
                {{ form.product_name }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="form-group">
                {{ form.price.label_tag }}
                {{ form.price }}
            </div>
            <div class="form-group">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
            <div class="form-group">
                {{ form.category.label_tag }}
                {{ form.category }}
            </div>
            <div class="form-group">
                {{ form.stock.label_tag }}
                {{ form.stock }}
            </div>
            <div class="form-group">
                {{ form.feature.label_tag }}
                {{ form.feature }}
            </div>
            <div class="form-group">
                {{ form.is_new.label_tag }}
                {{ form.is_new }}
            </div>
            <button type="submit" class="btn btn-primary">Save Product</button>
            <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
