{% extends 'pixelpioneer/base.html' %} {% block title %}{{ product.product_name
}} - Pixel Pioneer{% endblock %} {% block content %}
<div class="row">
  <div class="col-md-6">
    <img src="{{ MEDIA_URL }}{{ product.image }}" class="img-fluid rounded" alt="{{ product.product_name }}">
    <!-- {% if product.image %}
    <img
      src="{{ product.image.url }}"
      class="img-fluid rounded"
      alt="{{ product.product_name }}"
    />
    {% endif %} -->
  </div>
  <div class="col-md-6">
    <h1>{{ product.product_name }}</h1>
    <p class="lead">{{ product.description }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p><strong>Category:</strong> {{ product.category }}</p>
    <p><strong>Stock:</strong> {{ product.stock }}</p>
    <p><strong>feature:</strong> {{ product.feature }}</p>
    <p><strong>is_new:</strong> {{ product.is_new }}</p>
    <p><strong>Added:</strong> {{ product.created_at|date:"F j, Y" }}</p>
    <p><strong>Last Updated:</strong> {{ product.updated_at|date:"F j, Y" }}</p>

    <div class="mt-4">
      <a href="{% url 'product_edit' id=product.id %}" class="btn btn-primary"
        >Edit Product</a
      >
      <a href="{% url 'product_delete' id=product.id %}" class="btn btn-danger"
        >Delete Product</a
      >
      <a href="{% url 'product_list' %}" class="btn btn-primary"
        >Back to List</a
      >
    </div>
  </div>
</div>
{% endblock %}
